{% if MOT_TZV_ENABLE %}
	{% if (MOT_TZV_ADMIN and U_ACP) or not MOT_TZV_ADMIN %}
		{% if MOT_TZV_NEWS_ADD_ENABLE %}

			<div class="forabg">
				<div class="inner">
					<table class="table1" cellspacing="1" padding="1">
						<thead>
							<tr>
							<tr>
								<th style="text-align:left;">{{ lang('MOT_TZV_NEW_EVENT') }}</th>
								<th style="text-align:left;">{{ lang('MOT_TZV_NEW_FLAG') }}</th>
								<th style="text-align:left;">{{ lang('MOT_TZV_NEW_LAND') }}</th>
								<th style="text-align:left;">{{ lang('MOT_TZV_NEW_REGION') }}</th>
								<th style="text-align:left;">{{ lang('MOT_TZV_NEW_TIME') }}</th>
								<th style="text-align:left;">{{ lang('MOT_TZV_NEW_AUTHOR') }}</th>
							</tr>
						</thead>	

						<tbody>
							{% if MOT_TZV_NEWS_ADD_ENABLE %}				
							<tr class="bg2">
								<td class="indexlink" "text-align:left;"><a href="{{ U_MOT_TZV_NEW_EVENT }}" title="{{ lang('MOT_TZV_NEW_EVENT') }}">{{ MOT_TZV_NEW_EVENT }}</a></td>
								<td style="text-align:absolute;"><img src={{ COUNTRY_IMG }} title="{{ COUNTRY_NAME }}"></td>
								<td style="text-align:left;">{{ MOT_TZV_NEW_LAND }}</td>
								<td style="text-align:left;">{{ MOT_TZV_NEW_REGION }}</td>
								<td style="text-align:left;">{{ MOT_TZV_NEW_TIME }}</td>
								<td style="text-align:left;">{{ MOT_TZV_NEWS_AUTHOR }}</td>
							</tr>			
							{% else %}
								<tr class="bg1">
									<td colspan="6">{{ lang('MOT_TZV_NO_NEW_EVENT') }}</td>
								</tr>
							{% endif %}
						</tbody>
					</table>                
				</div>  
			</div>

		{% endif %}
	{% endif %}	
{% endif %}
