<ul class="topiclist forums">
	<li class="row">
	    <dl>
			<dt style="width: 99%; text-align: left; margin: 10px 10px 10px 10px;"><span style="font-size: 100%; line-height: 100%;">

			    <p>{{ lang('MOT_TZV_KOMOOT_INFO') }}</p>
				<div class="buttons">
                    <a href="https://www.komoot.{{ MOT_TZV_KOMOOT_LANG }}/plan/@{{ MOT_TZV_EVENT_MAPS_LAT }},{{ MOT_TZV_EVENT_MAPS_LON}},10z?p[0]&p[1][loc]={{ MOT_TZV_EVENT_MAPS_LAT }},{{ MOT_TZV_EVENT_MAPS_LON}}"
				    class="button icon-button reply-icon" title="{{ lang('MOT_TZV_DATA_HANDOVER') }}" target="_blank" rel="noreferrer">{{ lang('MOT_TZV_DATA_HANDOVER') }}</a>  
				</div>

			</span></dt>
		</dl>
	</li>
</ul>
<br><br>
