{% INCLUDE 'overall_header.html' %}

<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl>
					<dt>{{ lang('MOT_TZV_TOURZIEL') }}</dt>
					<dd></dd>
				</dl>
			</li>
		</ul>

		<ul class="topiclist forums" style="padding: 5px">
			<li>
				<div id="tourziel">
					<h2 >{{ lang('MOT_TZV_TOURZIEL_MAIN') }}</h2>
					<p>{{ MOT_TZV_TOURZIEL_NUMBER }}</p>

					{% if MOT_TZV_COUNTRY_ENABLE %}
						{% INCLUDE '@mot_tzv/mot_tzv_main_flag_view.html' %}
					{% endif %}

					<div class="tzv-nav-links">
						<div class="buttons">
							{% if MOT_TZV_INDEX_AUTH %}
								<a href="{{ MOT_TZV_INDEX_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_INDEX') }}">{{ lang('MOT_TZV_MAIN_INDEX') }}</a>
							{% endif %}
							{% if MOT_TZV_CREATE_AUTH %}
								<a href="{{ MOT_TZV_CREATE_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_ADD') }}">{{ lang('MOT_TZV_MAIN_ADD') }}</a>
							{% endif %}
							{% if MOT_TZV_LIST_AUTH %}
								<a href="{{ MOT_TZV_MAP_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_MAP') }}">{{ lang('MOT_TZV_MAIN_MAP') }}</a>
								<a href="{{ MOT_TZV_LIST_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_VIEW') }}">{{ lang('MOT_TZV_MAIN_VIEW') }}</a>
								<a href="{{ MOT_TZV_SEARCH_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_SEARCH') }}">{{ lang('MOT_TZV_MAIN_SEARCH') }}</a>
							{% endif %}
							{% if MOT_TZV_SUPPORT_ENABLE %}
								<a href="{{ MOT_TZV_SUPPORT }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_SUPPORT') }}">{{ lang('MOT_TZV_SUPPORT_FORUM') }}</a>
							{% endif %}
						</div>
					</div>

					<h2 >{{ lang('MOT_TZV_TOURZIEL_DETAIL') }}</h2>
					<ul class="topiclist forums">
						<li class="row">
							<dl><dt style="width: 99%; text-align: left; margin: 10px 10px 10px 10px;"><span style="font-size: 100%; line-height: 100%;">

								<h3 class="first">
								<a href="#event">{{ MOT_TZV_EVENT_NAME }}</a></h3>

								<table style="width: 95%">
									<td width="60%">
										{{ MOT_TZV_EVENT_CONTENT }}
										<br>
										{{ lang('MOT_TZV_DATE_ADD_EDIT') }}{{ lang('COLON') }} {{ POST_DATE }}
									</td>

									<td width="20%"; style="vertical-align: top;">
										<ul class="post-buttons">
											{% if U_EDIT_LINK %}
												<li>
													<a href="{{ U_EDIT_LINK }}" title="{{ lang('EDIT_POST') }}" class="button button-icon-only">
														<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('BUTTON_EDIT') }}</span>
													</a>
												</li>
											{% endif %}
											{% if U_DELETE_LINK %}
												<li>
													<a href="{{ U_DELETE_LINK }}" title="{{ lang('DELETE_POST') }}" class="button button-icon-only">
														<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('BUTTON_DELETE') }}</span>
													</a>
												</li>
											{% endif %}
										</ul>
									</td>

									<td width="5%"></td>

									<td width="15%" style="vertical-align: top;">
										<span class="responsive-hide"><strong>{{ lang('MOT_TZV_NEW_AUTHOR') }}</strong><br><br> {MOT_TZV_EVENT_AVATAR}</span>
										<br><br>
										{{ MOT_TZV_EVENT_POSTER }}
									</td>
								</table>

							</span></dt></dl>
						</li>
					</ul>
					
					{% if MOT_TZV_MAPS_ENABLE %}
						{% if MOT_TZV_KURVIGER_ENABLE %}
							{% INCLUDE '@mot_tzv/mot_tzv_maps_kurviger.html' %}
						{% endif %}
						{% if MOT_TZV_GOOGLEMAP_ENABLE %}
							{% INCLUDE '@mot_tzv/mot_tzv_maps_google.html' %}
						{% endif %}
						{% if MOT_TZV_OSMMAP_ENABLE %}
							{% INCLUDE '@mot_tzv/mot_tzv_maps_osm.html' %}
						{% endif %}
					{% endif %}
				</div>
			</li>
		</ul>
	</div>
</div>

{% INCLUDE '@mot_tzv/mot_tzv_main_footer.html' %}
{% INCLUDE 'overall_footer.html' %}
