<ul class="topiclist forums">
	<li class="row">
	    <dl>
			<dt style="width: 99%; text-align: left; margin: 10px 10px 10px 10px;"><span style="font-size: 100%; line-height: 100%;">
			
			    <p>{{ lang('MOT_TZV_KURVIGER_INFO') }}</p>
				<div class="buttons">
                    <a href="https://kurviger.de/?point=undefined&point= {{ MOT_TZV_EVENT_MAPS_LAT }}%2C{{ MOT_TZV_EVENT_MAPS_LON}} &locale=de&vehicle=motorcycle&weighting=curvature&additional_weighting=&elevation=true&additional_weighting_factor=2&avoid_toll_roads=false&avoid_toll_roads_factor=5&avoid_ferries=false&avoid_ferries_factor=5&avoid_motorways=false&avoid_motorways_factor=5&avoid_main_roads=false&avoid_main_roads_factor=3&avoid_small_roads=false&avoid_small_roads_factor=4&avoid_unpaved_roads=false&avoid_unpaved_roads_factor=5&layer=Kurviger%20Liberty" 
				    class="button icon-button reply-icon" title="{{ lang('MOT_TZV_KURVIGER_ADD') }}">{{ lang('MOT_TZV_KURVIGER_ADD') }}</a>  
				</div>
				
			</span></dt>
		</dl>
	</li>
</ul>
<br><br>
