<div class="action-bar bottom">
	{% if pagination or MOT_TZV_TOTAL_POSTS %}
		<div class="pagination">
			{% if MOT_TZV_SEARCH_ACTIVE %}{{ lang('MOT_TZV_SEARCH_FOUND') }}{{ lang('COLON') }} {% endif %}{{ lang('MOT_TZV_POSTS_COUNT', MOT_TZV_TOTAL_POSTS) }}
			{% if pagination %}
				&bull; {% include 'pagination.html' %}
			{% endif %}
		</div>
		<div>&nbsp;</div>
	{% endif %}
</div>

{% if MOT_TZV_LONG_TABLE %}
	{% for tzlist in tzlist %}
		<ul class="topiclist forums">
			<li class="row">
				<dl><dt style="width: 99%; text-align: left; margin: 10px 10px 10px 10px;"><span style="font-size: 100%; line-height: 100%;">
					<table style="width: 95%">
						<tr>
							<td width="60%">
								<table>
									<tr>
										<td>{{ lang('MOT_TZV_LISTEN_ID') }}{{ lang('COLON') }}</td>
										<td>&nbsp;{{ tzlist.LISTEN_ID }} <a href= "{{ tzlist.LISTEN_URL }}"><b>{{ lang('MOT_TZV_TOURZIEL_DETAIL_CLICK') }}<b></a></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td>{{ lang('MOT_TZV_LISTEN_NAME') }}{{ lang('COLON') }}</td>
										<td>&nbsp;<b>{{ tzlist.LISTEN_NAME }}</b></td>
									</tr>
									<tr>
										<td>{{ lang('MOT_TZV_LISTEN_CATEGORY') }}{{ lang('COLON') }}</td>
										<td>&nbsp;{{ tzlist.LISTEN_CATEGORY }}</td>
									</tr>
									<tr>
										<td>{{ lang('MOT_TZV_LISTEN_LAND') }} / {{ lang('MOT_TZV_LISTEN_REGION') }}{{ lang('COLON') }}</td>
										<td>&nbsp;<img src="{{ tzlist.COUNTRY_IMG }}" title="{{ tzlist.COUNTRY_NAME }}"> {{ tzlist.COUNTRY_NAME }} / {{ tzlist.LISTEN_REGION }}</td>
									</tr>
									<tr>
										<td>{{ lang('MOT_TZV_LISTEN_PLZ') }} / {{ lang('MOT_TZV_LISTEN_ORT') }}{{ lang('COLON') }}</td>
										<td>&nbsp;{{ tzlist.LISTEN_PLZ }} {{ tzlist.LISTEN_ORT }}</td>
									</tr>
									<tr>
										<td>{{ lang('MOT_TZV_LISTEN_STRASSE') }}{{ lang('COLON') }}</td>
										<td>&nbsp;{{ tzlist.LISTEN_STRASSE }}</td>
									</tr>
									<tr>
										<td>{{ lang('MOT_TZV_LISTEN_TELEFON') }}{{ lang('COLON') }}</td>
										<td>&nbsp;{{ tzlist.LISTEN_TELEFON }}</td>
									</tr>
									<tr>
										<td>{{ lang('MOT_TZV_LISTEN_EMAIL') }}{{ lang('COLON') }}</td>
										<td>&nbsp;<a href="mailto:{{ tzlist.LISTEN_EMAIL }}" class="postlink">{{ tzlist.LISTEN_EMAIL }}</a></td>
									</tr>
									<tr>
										<td>{{ lang('MOT_TZV_LISTEN_HOMEPAGE') }}{{ lang('COLON') }}</td>
										<td>&nbsp;<a href="{{ tzlist.LISTEN_HOMEPAGE }}" class="postlink">{{ tzlist.LISTEN_HOMEPAGE }}</a></td>	
									</tr>
									<tr>
										<td>{{ lang('MOT_TZV_LISTEN_WLAN') }}{{ lang('COLON') }}</td>
										<td>&nbsp;{{ tzlist.LISTEN_WLAN }}</td>
									</tr>
									<tr>
									{% if MOT_TZV_MAPS_ENABLE %}
										<tr>
											<td>&nbsp;</td>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td>{{ lang('MOT_TZV_LISTEN_GPS') }}{{ lang('COLON') }}</td> 
											<td>&nbsp;{{ tzlist.LISTEN_MAP_LAT }} / {{ tzlist.LISTEN_MAP_LON }}</td>
										</tr>
											<td colspan="2">{{ lang('MOT_TZV_DATE_ADD_EDIT') }}{{ lang('COLON') }} {{ tzlist.POST_DATE }}</td>
										</tr>
									{% endif %}
								</table>
							</td>

							<td width="15%" style="vertical-align: top;">
								<span class="responsive-hide"><strong>{{ lang('MOT_TZV_LISTEN_USER') }}{{ lang('COLON') }}</strong><br><br>  {tzlist.POSTER_AVATAR}</span>
								<br><br>
								{{ tzlist.POSTER_AUTHOR }}
							</td>
						</tr>
					</table>
				</span></dt></dl>

				<div class="back2top">
					<a href="#top" class="top" title="{{ lang('BACK_TO_TOP') }}">
						<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
						<span class="sr-only">{{ lang('BACK_TO_TOP') }}</span>
					</a>
				</div>
			</li>
		</ul>
	{% endfor %}
{% else %}
	{% if MOT_TZV_TOTAL_POSTS %}
		<table class="table1 zebra-list">
			<tbody>
				<tr>
					<th style="text-align:left;">{{ lang('MOT_TZV_LISTEN_NAME') }}</th>
					<th style="text-align:left;">{{ lang('MOT_TZV_LISTEN_CATEGORY') }}</th>
					<th style="text-align:left;">{{ lang('MOT_TZV_LISTEN_LAND') }} / {{ lang('MOT_TZV_LISTEN_REGION') }}</th>
					<th style="text-align:left;">{{ lang('MOT_TZV_NEW_TIME') }}</th>
					<th style="text-align:left;">{{ lang('MOT_TZV_LISTEN_USER') }}</th>
				</tr>
				{% for tzlist in tzlist %}
					<tr>
						<td class="indexlink" "text-align:left;"><a href="{{ tzlist.LISTEN_URL }}" title="{{ tzlist.LISTEN_NAME }}">{{ tzlist.LISTEN_NAME }}</a></td>
						<td style="text-align:absolute;">{{ tzlist.LISTEN_CATEGORY }}</td>
						<td style="text-align:left;"><img src="{{ tzlist.COUNTRY_IMG }}" title="{{ tzlist.COUNTRY_NAME }}"> {{ tzlist.COUNTRY_NAME }} / {{ tzlist.LISTEN_REGION }}</td>
						<td style="text-align:left;">{{ tzlist.POST_DATE }}</td>
						<td style="text-align:left;">{{ tzlist.POSTER_AUTHOR }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endif %}

<div>
	{% if not MOT_TZV_LONG_TABLE && MOT_TZV_TOTAL_POSTS %}
		<div style="float: left;">{{ lang('MOT_TZV_DETAIL_VIEW_LINK') }}</div>
	{% endif %}
	<div class="action-bar bottom">
		{% if pagination or MOT_TZV_TOTAL_POSTS %}
			<div class="pagination">
				{% if MOT_TZV_SEARCH_ACTIVE %}{{ lang('MOT_TZV_SEARCH_FOUND') }}{{ lang('COLON') }} {% endif %}{{ lang('MOT_TZV_POSTS_COUNT', MOT_TZV_TOTAL_POSTS) }}
				{% if pagination %}
					&bull; {% include 'pagination.html' %}
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
