{% if MOT_TZV_ENABLE %}
    {% if (MOT_TZV_ADMIN and U_ACP) or not MOT_TZV_ADMIN %}

		{% INCLUDE 'overall_header.html' %}

		{% if not INCLUDED_MOT_TZV_JS %}
			{% INCLUDEJS '@mot_tzv/mot_tzv_add.js' %}
			{% INCLUDEJS './assets/javascript/editor.js' %}
			{% set INCLUDED_MOT_TZV_JS = true %}
		{% endif %}

		<div class="forabg">
			<div class="inner">
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dt>{{ lang('MOT_TZV_TOURZIEL') }}</dt>
							<dd></dd>
						</dl>
					</li>
				</ul>

				<ul class="topiclist forums" style="padding: 5px">
					<li>

						<div id="tourziel">
							<h2 >{{ lang('MOT_TZV_TOURZIEL_MAIN') }}</h2>
							<p>{{ MOT_TZV_TOURZIEL_NUMBER }}</p>

							{% if MOT_TZV_COUNTRY_ENABLE %}
								{% INCLUDE '@mot_tzv/mot_tzv_main_flag_view.html' %}
							{% endif %}

							<div class="tzv-nav-links">
								<div class="buttons">
									{% if MOT_TZV_INDEX_AUTH %}
										<a href="{{ MOT_TZV_INDEX_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_INDEX') }}">{{ lang('MOT_TZV_MAIN_INDEX') }}</a>
									{% endif %}
									{% if MOT_TZV_LIST_AUTH %}
										<a href="{{ MOT_TZV_MAP_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_MAP') }}">{{ lang('MOT_TZV_MAIN_MAP') }}</a>
										<a href="{{ MOT_TZV_LIST_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_VIEW') }}">{{ lang('MOT_TZV_MAIN_VIEW') }}</a>
										<a href="{{ MOT_TZV_SEARCH_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_SEARCH') }}">{{ lang('MOT_TZV_MAIN_SEARCH') }}</a>
									{% endif %}
									{% if MOT_TZV_SUPPORT_ENABLE %}
									<a href="{{ MOT_TZV_SUPPORT }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_SUPPORT') }}">{{ lang('MOT_TZV_SUPPORT_FORUM') }}</a>
									{% endif %}
									{% if MOT_TZV_MODERATE_LINK and MOT_TZV_CREATE_TZ %}
										<div class="post-buttons" style="float: right;">
											<a href="{{ MOT_TZV_MODERATE_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_TOURZIEL_MODERATE') }}">{{ lang('MOT_TZV_TOURZIEL_MODERATE') }}</a>
										</div>
									{% endif %}
								</div>
							</div>

							{% INCLUDE '@mot_tzv/mot_tzv_add_edit_form.html' %}
						</div>
					</li>
				</ul>
			</div>
		</div>

		<script>
		// <![CDATA[
			// Define necessary editor variables
			var form_name = 'mot_tzv_add_form';
			var text_name = 'mot_tzv_message';

			// Define own JS variables
			var motTzv = {};
			motTzv.jsCoordMandatory = {{ MOT_TZV_COORD_MANDATORY }};
			motTzv.jsError = "{{ lang('MOT_TZV_ERROR')|e('js') }}";
			motTzv.jsErrorName = "{{ lang('MOT_TZV_ERROR_NAME')|e('js') }}";
			motTzv.jsErrorPostalcode = "{{ lang('MOT_TZV_ERROR_POSTALCODEZ')|e('js') }}";
			motTzv.jsErrorCity = "{{ lang('MOT_TZV_ERROR_CITY')|e('js') }}";
			motTzv.jsErrorLat = "{{ lang('MOT_TZV_ERROR_LAT')|e('js') }}";
			motTzv.jsErrorLon = "{{ lang('MOT_TZV_ERROR_LON')|e('js') }}";
			motTzv.jsErrorMessage = "{{ lang('MOT_TZV_ERROR_MESSAGE')|e('js') }}";
		// ]]>
		</script>

		{% INCLUDE '@mot_tzv/mot_tzv_main_footer.html' %}
		{% INCLUDE 'overall_footer.html' %}

    {% endif %}
{% endif %}
