<dl>
	<dt style="width: 99%; text-align: center; margin: 10px 10px 10px 10px;">
		<span style="font-size: 100%; line-height: 100%;">
			<div style="text-align:center;">
				<iframe width="{{ MOT_TZV_MAPS_WIDTH }}" height="{{ MOT_TZV_MAPS_HEIGHT }}"
					src="https://maps.google.de/maps?q={{ EVENT_MAPS_LAT }},{{ EVENT_MAPS_LON }}&amp;num=1&amp;hl=de&amp;ie=UTF8&amp;t=m&amp;z={{ MOT_TZV_MAPS_ZOOM }}&amp;{{ MOT_TZV_MAPS_ZOOM }}={{ EVENT_MAPS_LAT }},{{ EVENT_MAPS_LON }}&amp;output=embed"></iframe>
				<br>

				<div class="back2top"><a href="#wrap" class="top" title="{{ lang('BACK_TO_TOP') }}">{{ lang('BACK_TO_TOP') }}&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
			</div>
		</span>
	</dt>
</dl>   
