{% if MOT_TZV_ENABLE %}
    {% if (MOT_TZV_ADMIN and U_ACP) or not MOT_TZV_ADMIN %}

		{% INCLUDE 'overall_header.html' %}

		{% if not INCLUDED_MOT_TZV_MAP_JS %}
			{% INCLUDECSS '@mot_tzv/thirdparty/leaflet.css' %}
			{% INCLUDECSS '@mot_tzv/thirdparty/MarkerCluster.css' %}
			{% INCLUDECSS '@mot_tzv/thirdparty/MarkerCluster.Default.css' %}
			{% INCLUDECSS '@mot_tzv/mot_tourziel.css' %}
			{% INCLUDEJS '@mot_tzv/thirdparty/leaflet.js' %}
			{% INCLUDEJS '@mot_tzv/thirdparty/leaflet.markercluster.js' %}
			{% INCLUDEJS '@mot_tzv/mot_tzv_map.js' %}
			{% set INCLUDED_MOT_TZV_MAP_JS = true %}
		{% endif %}

		<div class="forabg">
			<div class="inner">
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dt>{{ lang('MOT_TZV_TOURZIEL') }}</dt>
							<dd></dd>
						</dl>
					</li>
				</ul>

				<ul class="topiclist forums" style="padding: 5px">
					<li>
						<div id="tourziel">
							<h2 >{{ lang('MOT_TZV_MAIN_MAP') }}</h2>
							<p>{{ MOT_TZV_TOURZIEL_NUMBER }}</p>

							{% if MOT_TZV_COUNTRY_ENABLE %}
								{% INCLUDE '@mot_tzv/mot_tzv_main_flag_view.html' %}
							{% endif %}

							{% if ACP_MOT_TZV_MAININFO %}
								<p>&raquo;<br>{{ lang('MOT_TZV_MAINNEWS_INFO') }}</p>
							{% endif %}

							<div class="tzv-nav-links">
								<div class="buttons">
									{% if MOT_TZV_INDEX_AUTH %}
										<a href="{{ MOT_TZV_INDEX_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_INDEX') }}">{{ lang('MOT_TZV_MAIN_INDEX') }}</a>
									{% endif %}
									{% if MOT_TZV_CREATE_AUTH %}
										<a href="{{ MOT_TZV_CREATE_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_ADD') }}">{{ lang('MOT_TZV_MAIN_ADD') }}</a>
									{% endif %}
									{% if MOT_TZV_LIST_AUTH %}
										<a href="{{ MOT_TZV_LIST_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_VIEW') }}">{{ lang('MOT_TZV_MAIN_VIEW') }}</a>
										<a href="{{ MOT_TZV_SEARCH_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_SEARCH') }}">{{ lang('MOT_TZV_MAIN_SEARCH') }}</a>
									{% endif %}
									{% if MOT_TZV_SUPPORT_ENABLE %}
										<a href="{{ MOT_TZV_TZV_SUPPORT }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_MAIN_SUPPORT') }}">{{ lang('MOT_TZV_SUPPORT_FORUM') }}</a>
									{% endif %}
									{% if MOT_TZV_MODERATE_LINK %}
										<div class="post-buttons" style="float: right;">
											<a href="{{ MOT_TZV_MODERATE_LINK }}" class="button icon-button reply-icon" title="{{ lang('MOT_TZV_TOURZIEL_MODERATE') }}">{{ lang('MOT_TZV_TOURZIEL_MODERATE') }}</a> 
										</div>
									{% endif %}
								</div>
							</div>
							
							<div><p>{{ lang('MOT_TZV_MAP_LEGEND_TEXT') }}<br>{{ lang('MOT_TZV_MARKER_COUNT', MOT_TZV_MARKER_COUNT) }}</p></div>

							<div class="mot_tzv_map" id="mot_tzv_map">
							</div>
						</div>	
					</li>
				</ul>
			</div>
		</div>

		<script>
		// <![CDATA[
			// Define own JS variables
			var motTzv = {};

			motTzv.jsMapConfig = {{ MOT_TZV_MAPCONFIG }};
			motTzv.jsTourziele = {{ MOT_TZV_TOURZIELE }};

			motTzv.jsStreetDesc = "{{ lang('MOT_TZV_STREET_DESC')|e('js') }}";
			motTzv.jsTopoDesc = "{{ lang('MOT_TZV_TOPO_DESC')|e('js') }}";
			motTzv.jsSatDesc = "{{ lang('MOT_TZV_SAT_DESC')|e('js') }}";

			motTzv.jsAjaxCreate = "{{ MOT_TZV_CREATE_LINK|e('js') }}";
		// ]]>
		</script>

		{% INCLUDE '@mot_tzv/mot_tzv_main_footer.html' %} 
		{% INCLUDE 'overall_footer.html' %}

    {% endif %}
{% endif %}
